<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h1>Index</h1>
    <p>This is the index page, {{name}} sings {{song}}</p>
    <p>{{songs[1]}} {{songs[0]}}</p>

    {% if company == "Apple" %}
    <p>Macbook Pro</p>
    {% elif company == "Microsoft" %}
    <p>Surface Pro</p>
    {% else %}
    <p>Chrome book </p>
    {% endif %}

    <ul>
        {% for song in songs %}
        <p>{{song}}</p>
        {% endfor %}
    </ul>

    <ul>
        {% for user, os in laptop_users.items() %}
        {% if os == 'mac' %}
        <p>{{user}} is {{os}} user</p>
        {% elif os == 'windows' %}
        <p>{{user}} is {{os}} user</p>
        {% else %}
        <p>{{user}} is {{os}} user</p>
        {% endif %}
        {% endfor %}
    </ul>
</body>

</html>